@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var actionName = ViewContext.RouteData.Values["Action"].ToString().ToLower();
}

<header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <h1 class="logo active"><a asp-controller="Static" asp-action="Index">YÖS</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="@((controllerName=="static" && actionName=="about")?"active":"")">
                    <a asp-controller="Static" asp-action="About">
                        <span>Hakkımızda</span>
                    </a>
                </li>
                <li class="@((controllerName=="static" && actionName=="yos")?"active":"")"><a asp-controller="Static" asp-action="Yos">YÖS</a></li>
                <li class="p-0 my-2 ml-1">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle-split p-0 ml" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Static" asp-action="WhatYos">YÖS nedir? </a>
                        <a class="dropdown-item" asp-controller="Static" asp-action="YosRequirements">YÖS Şartları</a>
                        <a class="dropdown-item" asp-area="" asp-controller="YosQuestions" asp-action="Index">YÖS Soruları</a>
                        <a class="dropdown-item" asp-controller="Static" asp-action="yosExamSubjects">YÖS Sınav Konuları</a>
                        <a class="dropdown-item" asp-controller="BasePoint" asp-action="Index">YÖS Taban Puanları</a>
                        <a class="dropdown-item" asp-controller="YosQuota" asp-action="Index">2018 YÖS Kontenjanları</a>
                    </div>
                </li>
                <li class="@(controllerName=="University"?"active":"")"><a asp-controller="Universities" asp-action="Index">Üniversiteler</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="@(controllerName=="profile"?"active":"")"><a asp-controller="Profile" asp-action="Index">Profil</a></li>
                }
                <li class="@(controllerName=="contact"?"active":"")"><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
            </ul>
        </nav><!-- .nav-menu -->

        <div>
            @if (User.Identity.IsAuthenticated)
            {
            <span style="background-color: #3DC8B7;font-size:13px;" class="badge rounded-pill text-white p-2  mr-2">Hoşgeldiniz  @User.Identity.Name</span><button class="btn btn-sm btn-outline-light"><a asp-controller="Home" asp-action="LogOut">Logout</a></button>
            }
            else
            {
                <button class="btn btn-sm btn-outline-light"><a asp-controller="Home" asp-action="Register">Kayıt</a></button>
            }

        </div>

    </div>

</header><!-- End Header -->