  
@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString().ToLower();
 }    

    <!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="@(controllerName=="home"?"active":"")">
                <a asp-controller="home" asp-action="Index">
                    <i class="icon_house_alt"></i>
                    <span>Anasayfa</span>
                </a>
            </li>
            <li class="@(controllerName=="yosquestions"?"active":"")">
                <a asp-controller="YosQuestions" asp-action="Index" class="">
                    <i class="icon_document_alt"></i>
                    <span>Yös Soruları</span>
                </a>
            </li>
            <li class="@(controllerName=="yosquota"?"active":"")">
                <a asp-controller="YosQuota" asp-action="Index" class="">
                    <i class="icon_desktop"></i>
                    <span>YÖS Kontenjanları</span>
                </a>
            </li>
            <li class="@(controllerName=="universities"?"active":"")">
                <a asp-controller="Universities" asp-action="Index">
                    <i class="icon_genius"></i>
                    <span>Üniversiteler</span>
                </a>
            </li>
            <li class="@(controllerName=="students"?"active":"")">
                <a asp-controller="Students" asp-action="Index" class="">
                    <i class="icon_piechart"></i>
                    <span>Kayıt Bilgileri</span>

                </a>
            </li>
            <li class="@(controllerName=="universitytypes"?"active":"")">
                <a asp-controller="UniversityTypes" asp-action="Index" class="">
                    <i class="icon_piechart"></i>
                    <span>Üniversite Tipi</span>

                </a>
            </li>
            <li class="@(controllerName=="basepoint"?"active":"")">
                <a asp-controller="BasePoint" asp-action="Index" class="">
                    <i class="icon_piechart"></i>
                    <span>Taban Puanı</span>

                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->